extends ../shared/template

block content

  header
    #controls
      input#username(type='text', autofocus=true, placeholder='Username')
      .button#login Login
    h1 Builder


  #dashboard

  #equipment

  #forest



block scripts
  script(src='/js/es6/compiled/game.js')
